.movie-cover {
  width: 700px;
  border-radius: 15px;
  padding: 1rem;
  margin: 10px auto 10px auto;
}

.movie-card {
  border-radius: 15px;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 2rem;
  border-color: white;
  box-shadow: 4px 8px 16px 0 rgb(75, 127, 173);
}

.movie-img-box {
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.movie-img-box:hover .movie-img {
  transform: rotateY(-180deg);
  cursor: pointer;
}

.movie-img {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  line-height: 400px;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 0.5s;
}

.front-card {
  border-radius: 15px;
  border-color: white;
  box-shadow: 4px 8px 16px 0 rgb(75, 127, 173);
}

.back-card {
  text-align: center;
  border-radius: 15px;
  border-color: white;
  box-shadow: 4px 8px 16px 0 rgb(75, 127, 173);
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.movie-img .heart {

  position: absolute;
  font-size: 40px;
  color: red;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.heart.active {
  animation: animate 0.8s linear forwards;
}

@keyframes animate {
  30% {
    opacity: 1;
    font-size: 80px;
  }

  50% {
    opacity: 1;
    font-size: 60px;
  }

  70% {
    opacity: 1;
    font-size: 70px;
  }

  80% {
    opacity: 1;
    font-size: 60px;
  }

  90% {
    opacity: 1;
    font-size: 60px;
  }
}

.movie-body1 {
  height: 250px;
  width: 120px;
  padding: 1rem;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
}

.movie-body2 {
  height: 250px;
  width: 210px;
  padding: 1rem;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
}

.text-gap {
  margin-bottom: 15px;
}

.movie-summary {
  border-radius: 15px;
  margin-top: 20px;
  align-items: center;
  border-color: white;
  box-shadow: 4px 8px 16px 0 rgb(75, 127, 173);
  padding: 1rem;
}