body {
  min-height: 100vh;
  margin: 0 auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cardlist-goodicon {
  width: 25px;
  height: 25px;
  object-fit: cover;
  cursor: pointer;
}

button.cardlist-btn {
  position: absolute;
  top: 22px;
  left: 42px;
  border-radius: 70%;
  overflow: hidden;
}

.movie {
  width: 300px;
  height: 480px;
  margin: 1rem;
  padding: 20px 40px 0px 40px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-color: var(--md-sys-color-on-surface-dark);
}

.movie img {
  width: 100%;
  border-radius: 5px;
}

.cardlist-movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.cardlist-movie-info h3 {
  margin-top: 0px;
}

.cardlist-movie-info {
  padding: 0.25rem 0.5rem;
}

.cardlist-overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--md-sys-color-on-primary-container-dark);
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
}

.movie:hover .cardlist-overview {
  transform: translateY(0%);
}

.cardlist-grade {
  font-weight: bold;
}


.cardlist-heart-btn {
  /* 버튼 위치 조정*/
  position: absolute;
  top: 11%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.cardlist-content {
  padding: 13px 10px;
  display: flex;
  cursor: pointer;
  /*커서를 손가락 모양으로 변경*/
}

.cardlist-content.heart-active {
  border-color: #f9b9c4;
}

.cardlist-heart {
  position: absolute;
  background: url("../img.png") no-repeat;
  /*이미지 반복 X*/
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
}

.cardlist-num:before {
  content: '';
  font-size: 21px;
  margin-left: 30px;
  font-weight: 600;
  color: #9C9496;
}

.cardlist-num.heart-active:before {
  /*클릭했을때 동작 */
  content: '';
  color: #000;
}

.cardlist-heart.heart-active {
  /*좋아요 아이콘 애니메이션*/
  animation: animate .8s steps(28) 1;
  background-position: right;
}

@keyframes animate {

  /*좋아요 아이콘 애니메이션*/
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}