.comment-desc {
  padding: 1rem 9rem;
}

.control-wrapper {
  padding: 1rem 9rem;
  display : flex;
  justify-content: flex-end; 
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.confirm-modal-form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  padding: 1rem 9rem;
}

.control-wrapper button,
.confirm-modal-form button {
  width: 50px;
  cursor: pointer;
  color: white;
  padding: 0.35rem 0.15rem;
  background-color: var(--md-sys-color-primary-container);
  border-radius: 5px;
  border: none;
  margin: 0;
  transition: all 0.3s ease;
  font-weight: 700;
}

.control-wrapper button:hover,
.confirm-modal-form button:hover {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-on-primary-container);
}