* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#header-container {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1>a {
  text-decoration: none;
  color: var(--md-sys-color-secondary);
}

.search-container input {
  width: 15vw;
  min-width: 200px;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 2.5rem 0.6rem 0.5rem;
  transition: width 0.6s cubic-bezier(.03, .94, 1, 1);
}

.search-container input:focus {
  width: 30vw;
  border: none;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 1%;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  transform: rotate(-60deg);
}

/* ///////////////*/
/* FILTER BUTTONS */
/* ////////////// */

.filter-button {
  width: 100%;
  padding: 1rem 3rem;
}

.filter-button button {
  cursor: pointer;
  padding: 0.55rem 0.8rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: var(--md-sys-color-on-primary-container);
  ;
}

.filter-button button:hover {
  background-color: var(--md-sys-color-primary-container);
  color: white;
}

/* //////////// */
/* Comment Form */
/* //////////// */

.comment-form-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  padding: 1rem 9rem;
}

.comment-form-container input {
  padding: .5rem 1.25rem .5rem .3rem;
  border-radius: 5px;
  border: 1px solid black;
}

.user-info-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.user-info-container input {
  width: 100%;
}

.comment-form-container button {
  width: 80px;
  cursor: pointer;
  color: white;
  padding: 0.65rem 0.35rem;
  background-color: var(--md-sys-color-primary-container);
  border-radius: 5px;
  border: none;
  margin: auto;
  transition: all 0.3s ease;
  font-weight: 700;
}

.comment-form-container button:hover {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-on-primary-container);
}



.comment-list-wrapper {
  height: 250px;
  overflow: scroll;
  padding: 1rem 1.25rem;
  list-style: none;
}

.comment-list-item {
  margin-block: 1rem;
}

.control-wrapper {
  margin-top: 0.3rem;
}

.control-wrapper button {
  margin-right: 0.5rem;
}


/* ///////////// */
/* CONFIRM MODAL */
/* ///////////// */

#confirm-modal {
  position: absolute;
  bottom: 21%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  padding: 2rem 3rem 1rem 3rem;
  border-radius: 9px;
  background-color: aliceblue;
  box-shadow: 3px 1px 12px 0px;
}

.confirm-modal-form h4 {
  margin-bottom: 0.36rem;
}

.confirm-modal-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  flex-direction: row;
  padding: 0.35rem 1rem 0.35rem 0.3rem;
  position: relative;
}

.confirm-modal-form button {
  color: white;
  background-color: var(--md-sys-color-primary-container);
  border-radius: 5px;
  padding: 0.3rem 0.6rem 0.36rem;
  border: none;
  cursor: pointer;
  margin-block: 1rem;
  margin-right: 12px;

}